.App {
  text-align: center;
}



.main-nav{
  max-width: 100%;
  background-color: darkblue;
  overflow:hidden;
}

.main-nav .nav-link {

  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
    float: left;
  text-decoration: none;
  font-size: 17px;
}

.main-nav .nav-link:hover{
  background-color: #ddd;
  color: black;
}

img{
  max-width: 100%;
  height: auto;
}

#input-img{
  max-width: 200;
  max-height: 200;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}
